.conteneur {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

form {
    background-color: rgba(120, 194, 173, 0.862);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 12vh;
    box-shadow: 10px 5px 5px rgb(94, 94, 94);
}

form input, 
textarea {
    outline: none;
    border-radius: 8px;
    border: 0;
    padding: 5px;
}

form input:focus,
textarea:focus {
    border: 1px solid #F3969A;
}

.input {
    display: flex;
    flex-direction: column;
}

.input label,
h3 {
    color: white;
}

h3 {
    text-align: center;
}

label {
    margin-bottom: 5px;
}

small {
    color: white;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #F3969A;
    padding: 8px;
    color: #F3969A;
    font-size: 1.2rem;
}

button:hover {
    background-color: #F3969A;
    color: white;
    transition: 0.4s;
}

.error {
    display: block;
    color: crimson;
    font-size: 1.1rem;
    padding-top: 5px;
}

.obligatory {
    color: crimson;
}

.valid {
    display: block;
    color: #22523F;
    font-size: 1.1rem;
    padding: 8px;
}

.divValid {
    display: none;
    background-color: #DDF5EB;
    border: 1px solid #bbebd8;
    border-radius: 8px;
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {
    .divValid {
        width: 75%;
    }
    
}