body {
    height: 100vh;
    overflow-x: hidden; /* supprime la scrollbar horizontal */
}

.image img{
    width: 100%;
}

.titre-section {
    text-align: center;
    margin-top: 3rem;
}

h2,
h3 {
    font-size: 2rem;
}

.rayons {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.5rem;
}

.rayons img {
    width: 90px;
}

.rayons a {
    text-decoration: none;
}

.rayons p {
    margin-top: 1.5rem;
    font-size: 1.2em;
    color: #56CC9D;
}

.rayons li a {
    text-align: center;
}

.banner {
    margin-top: 3.5rem;
    height: 40vh;
    width: 100%;
}

.conteneur {
    width: 75%;
    margin: 0 auto;
}

.conteneur p {
    font-size: 1.2rem;
    margin: 3.5rem 0;
    color: black;
}

#newsletter {
    background-color: #f3969a;
    /* height: 35vh; */
    margin-top: 50px;
}

#newsletter h4 {
    padding-top: 50px;
    font-size: 2.5rem;
}

#newsletter p {
    font-size: 1.1rem;
    margin-top: 25px;
}

.check {
    text-align: center;
    margin-top: 15px;
}

.check label {
    margin-left: 5px;
    color: white;
}

#newsletter h4,
p {
    text-align: center;
    color: white;
}

.newsPolitique {
    color: rgb(255, 206, 103);
    text-decoration: none;
}

.newsPolitique:hover {
    color: #d9af58;
} 

#formNews {
    width: 50%;
    margin: 0 auto;
}

/* MEDIA QUERIES */

/* si l'utilisateur à un appareil qui fais 768px ou moins */
@media only screen and (max-width: 768px) {
    .rayons{
        flex-wrap: wrap;
        gap: 2rem;
    }
}

/* si l'utilisateur à un appareil qui fais 992px ou moins */
@media only screen and (max-width: 1024px) {
    #newsletter {
        margin: 0 30px;
        border-radius: 30px;
        height: 35vh;
    }

    #newsletter h4 {
        padding-top: 20px;
        font-size: 2rem;
    }

    #newsletter p {
        font-size: 1.1rem;
        margin-top: 15px;
    }

    .form-control{
        width: 75% !important;
    }

    .check {
        display: flex;
    } 

    #formNews {
        width: 75%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1920px) {
    #newsletter {
        height: 30vh;
    }

    #newsletter h4 {
        padding-top: 15px;
    }
}

.conteneur-newsletter {
    padding: 10px;
}

@media screen and (max-width: 1400px) {
    #newsletter {
        height: 35vh;
    }
}

@media screen and (max-width: 320px) {
    #newsletter {
        height: 40vh;
    }
    
}


.carrousel {
    position: relative;
    max-width: 100%;
    overflow: hidden; /* Cache les images qui débordent */
}

.carousel img {
    width: 100%; /* Les images occupent 100% de la largeur du carrousel */
    display: none; /* Cache toutes les images par défaut */
    transition: opacity 0.5s ease; /* Transition douce sur l'opacité */
}

.active {
    display: block; /* Affiche l'image active */
    opacity: 1; /* Opacité pleine pour l'image active */
}

.carrousel-images img {
    width: 100%;
    display: none; /* Masque les images par défaut */
    height: 80vh;
    object-fit: cover;
}

.carrousel-images img.active {
    display: block; /* Affiche l'image active */
}

.carrousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}