body {
    min-height: 100%;
    overflow-x: hidden;
}

.image img{
    width: 100%;
}

.titre-section {
    text-align: center;
    margin-top: 3rem;
}

h2,
h3 {
    font-size: 2rem;
}

.rayons {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.5rem;
}

.rayons img {
    width: 90px;
}

.rayons a {
    text-decoration: none;
}

.rayons p {
    margin-top: 1.5rem;
    font-size: 1.2em;
    color: #56CC9D;
}

.rayons li a {
    text-align: center;
}

.banner {
    margin-top: 3.5rem;
    height: 40vh;
    width: 100%;
}

.conteneur {
    width: 75%;
    margin: 0 auto;
}

.conteneur p {
    font-size: 1.2rem;
    margin: 3.5rem 0;
    color: black;
}

#newsletter {
    background-color: #f3969a;
    height: 35vh;
    margin-top: 50px;
}

#newsletter h4 {
    padding-top: 50px;
    font-size: 2.5rem;
}

#newsletter p {
    font-size: 1.1rem;
    margin-top: 25px;
}

.check {
    text-align: center;
    margin-top: 15px;
}

.check label {
    margin-left: 5px;
    color: white;
}

#newsletter h4,
p {
    text-align: center;
    color: white;
}

.newsPolitique {
    color: rgb(255, 206, 103);
    text-decoration: none;
}

.newsPolitique:hover {
    color: #d9af58;
} 

#formNews {
    width: 50%;
    margin: 0 auto;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    .rayons{
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media screen and (max-width: 992px) {
    #newsletter {
        margin: 0 30px;
        border-radius: 30px;
        height: 30vh;
    }

    #newsletter h4 {
        padding-top: 20px;
        font-size: 2rem;
    }

    #newsletter p {
        font-size: 1.1rem;
        margin-top: 15px;
    }

    .form-control{
        width: 75% !important;
    }

    .check {
        display: flex;
    } 

    #formNews {
        width: 75%;
        margin: 0 auto;
    }
}